<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="preconnect" href="https://static.nd.edu/" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com/">
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin>
  <meta name="author" content="ND Creative: Web | University of Notre Dame">
  <meta name="apple-mobile-web-app-title" content="ND Web Theme">
  <meta name="application-name" content="ND Web Theme">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@notredame">
  <meta name="twitter:creator" content="@ndwebteam">
  <meta name="twitter:image" property="og:image" content="https://static.nd.edu/images/webclips/default/webclip-1024.png">
  <title>Lawn Logic - Senior Computer Engineering Project | University of Notre Dame</title>
  <link rel="manifest" href="/manifest.json" crossorigin="use-credentials">
  <link rel="icon" href="/favicon.ico" sizes="any">
  <link rel="icon" href="https://static.nd.edu/images/monogram/monogram.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="https://static.nd.edu/images/webclips/default/webclip-180.png">
  <meta name="theme-color" content="#002b5c">
  <link rel="stylesheet" type="text/css" href="https://conductor.nd.edu/stylesheets/themes/ndt/3.0/ndt.css" />
  <link rel="stylesheet" href="./stylesheets/site.css">
</head>
<body vocab="https://schema.org/" class="nav-top-true full-width">
  <!-- Skip links -->
  <nav class="skip-links" aria-label="Skip links">
    <ul>
      <li><a href="#content" accesskey="C" title="Skip to content = C">Skip To Content</a></li>
      <li><a href="#nav-top" accesskey="S" title="Skip to navigation = S">Skip To Navigation</a></li>
    </ul>
  </nav>

  <div class="wrapper" id="wrapper">
    <!-- Site Header -->
    <header id="header" class="site-header">
      <p class="mark-header"><a href="https://www.nd.edu/">University of Notre Dame</a></p>
      <div class="site-title-group">
        <p id="site-title" class="site-title"><a href="/" accesskey="1" title="Homepage shortcut key = 1">Lawn Logic - Senior Computer Engineering Project</a></p>
      </div>
      <!-- Header Search/Nav  -->
      <div class="nav-header">
        <nav id="nav-top" class="nav-top" role="navigation" aria-label="Primary navigation">
          <div id="primary">
            <ul>
              <li><a class="active" href="/" aria-label="Home"><svg class="icon" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-home"></use></svg></a></li>
              <li><a href="#">More</a></li>
              <li><a href="#">Weather</a></li>
              <li><a href="#">Log In</a></li>
              <li class="nav-search"><button class="btn-search search-toggle" aria-label="Toggle search"><svg class="icon" width="16" height="16"><use xlink:href="#icon-search"></use></svg></button></li>
            </ul>
            <div class="nav-search-wrapper">
              <form method="get" action="/search/" id="search-nav-top" class="search-form" role="search" aria-label="Site search">
                <input type="hidden" name="as_sitesearch" value="siteurl.nd.edu">
                <input type="hidden" name="entqr" value="3">
                <input type="search" name="q" class="search-input" id="search-input-nav-top" placeholder="Search this site" title="type your search term" aria-label="Site Search input">
                <button class="search-button" type="submit" aria-label="Search"><svg class="icon" width="16" height="16" data-icon="search"><use xlink:href="#icon-search"></use></svg></button>
                <button class="search-close search-toggle" aria-label="Close Search"><svg class="icon" width="16" height="16"><use xlink:href="#icon-close"></use></svg></button>
              </form>
            </div>
          </div>
        </nav>
      </div>
      <!-- Mobile Navbar -->
      <div class="nav-mobile-util">
        <ul class="no-bullets">
          <li><a href="/"><svg class="icon" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-home"></use></svg> Home</a></li>
          <li><button class="btn-search search-toggle"><svg class="icon" width="16" height="16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-search"></use></svg> Search</button></li>
          <li><a href="#nav" class="nav-menu nav-skip"><svg version="1.1" class="icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 20" xml:space="preserve"><line class="ni ni1" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="0.98" y1="2" x2="18.94" y2="2" /><line class="ni ni2" stroke-width="2" stroke-linecap="square" stroke-miterlimit="10" x1="0.98" y1="8.69" x2="18.94" y2="8.69" /></svg><span class="ni ni3">Menu</span></a></li>
        </ul>
        <div class="nav-search-wrapper">
          <form method="get" action="/search/" id="search-navbar-mobile" class="search-form" role="search" aria-label="Site search">
            <input type="hidden" name="as_sitesearch" value="">
            <input type="hidden" name="entqr" value="3">
            <input type="search" name="q" class="search-input" id="search-input-navbar-mobile" placeholder="Search this site" title="type your search term" aria-label="Site Search input">
            <button class="search-button" type="submit" aria-label="Search"><svg class="icon" width="16" height="16"><use xlink:href="#icon-search"></use></svg></button>
            <button class="search-close search-toggle" aria-label="Close Search"><svg class="icon" width="16" height="16"><use xlink:href="#icon-close"></use></svg></button>
          </form>
        </div>
      </div>
    </header>
    <!-- Site Content -->
    <div id="content" class="site-content">

    <!-- Page Header -->
    <div class="page-header has-title has-image">
      <p class="page-title" aria-hidden="true">Lawn Logic</p>
      <p class="page-lede" aria-hidden="true">Grow smarter, Save water 😉</p>
      <p class="page-image">
          <img src="logo.png" width="800" height="450"
               srcset="logo.png 800w,
                       logo.png  1200w,
                       logo.png  1600w"
               sizes="(min-width:768px) 75vw, 100vw"
               alt="Header image">
      </p>
    </div>

    <main class="page-main" role="main">
      <h1 class="page-title">Senior Computer Engineering Capstone</h1>
      <p class="page-lede">Grow smarter, save water</p>

      <!-- Page Intro -->
      <div class="block-center">
        <p>Lawn Logic seeks to turn your lawn into a smart watering space. By enabling you with weather information along with soil and sunlight conditions, you too can make your grass thrive.
        <p>Lawn Logic is the Senior Computer Engineering Capstone project of Group 1 members; Lydia Csaszar, Hannah Long, Kate Mealey.</p>
      </div>

      <!-- Directions -->
      <div class="section-news">
        <div class="heading-action">
          <h2 class="section-title">How it works</h2>
          <a class="btn btn-inline btn-more" href="#">More
          </a>
        </div>
        <div class="grid grid-gap grid-xl-3">
          <article class="article card hover-bg hover-grow horizontal stacked-xl" typeof="NewsArticle">
            <div class="card-image entry-image">
              <img property="image" src="//placehold.it/600x400/?text=FPO" width="600" height="400" alt="">
            </div>
            <div class="card-body hover-more">
              <h2 class="article-title card-title" property="headline"><a class="card-link" href="#">Place the sticks in the ground</a></h2>
              <div class="meta">
                <link property="publisher" resource="#siteorg">
                <link property="description" content="Learn More">
                <div property="author" typeof="Person"><meta property="name" content="John Doe"></div>
                <p class="meta-item publish-info"><time property="datePublished" datetime="2019-10-23-T06:00:00-05:00"></time></p>
              </div>
            </div>
          </article>
          <article class="article card hover-bg hover-grow horizontal stacked-xl" typeof="NewsArticle">
            <div class="card-image entry-image">
              <img property="image" src="//placehold.it/600x400/?text=FPO" width="600" height="400" alt="">
            </div>
            <div class="card-body hover-more">
              <h2 class="article-title card-title" property="headline"><a class="card-link" href="#">Add the controler to your pannel</a></h2>
              <div class="meta">
                <link property="publisher" resource="#siteorg">
                <link property="description" content="Nunc omni virtuti vitium contrario nomine opponitur. An hoc usque quaque, aliter in vita? Equidem e Cn." href="./news-detail.html">
                <div property="author" typeof="Person"><meta property="name" content="John Doe"></div>
                <p class="meta-item publish-info"><time property="datePublished" datetime="2019-10-23-T06:00:00-05:00"></time></p>
              </div>
            </div>
          </article>
          <article class="article card hover-bg hover-grow horizontal stacked-xl" typeof="NewsArticle">
            <div class="card-image entry-image">
              <img property="image" src="person_computer.jpg" width="600" height="400" alt="">
            </div>
            <div class="card-body hover-more">
              <h2 class="article-title card-title" property="headline"><a class="card-link" href="#">Monitor from your account</a></h2>
              <div class="meta">
                <link property="publisher" resource="#siteorg">
                <link property="description" content="Nunc omni virtuti vitium contrario nomine opponitur. An hoc usque quaque, aliter in vita? Equidem e Cn." href="./news-detail.html">
                <div property="author" typeof="Person"><meta property="name" content="John Doe"></div>
                <p class="meta-item publish-info"><time property="datePublished" datetime="2019-10-23-T06:00:00-05:00"></time></p>
              </div>
            </div>
          </article>
        </div>
      </div>

      
      </main>
      <div class="page-sidebar">
        <!-- Full Nav -->
        <nav id="nav" class="nav-site nav-full" role="navigation" aria-label="Primary navigation">
          <ul class="depth_1">
            <li class="active"><a href="home.html">Home</a>
            <li><a href="about.html">More</a></li>
            <li><a href="weather_report.html">Weather</a></li>
            <li><a href="log_in.html">Log In</a></li>
          </ul>
        </nav>
      </div>
    </div>
    <!-- Site Footer -->
    <footer id="footer" class="site-footer" role="contentinfo">
      <div class="footer-org" typeof="Organization" resource="#siteorg">
        <meta property="parentOrganization" resource="#parentorg" content="University of Notre Dame">
        <!-- Organizational Breadcrumbs -->
        <ul class="footer-breadcrumbs">
          <li><a href="cse.nd.edu">Department of Computer Science and Engineering</a></li>
        </ul>
        <p><a href="/" class="site-link" property="url"><span property="name">Lawn Logic</span></a></p>
        <div class="footer-contacts">
          <p class="contact-info">
            <span class="address" property="address" typeof="PostalAddress">
              <span property="streetAddress">Department of Computer Science and Engineering</span><br>
              <span property="addressLocality">Notre Dame</span>, <span property="addressRegion">IN</span> <span property="postalCode">46556</span> <span property="addressCountry">USA</span>
            </span>

            <span class="footer-email" property="email"><a href="mailto:example@nd.edu"></a></span>
          </p>
          <nav class="social" aria-label="Site social media navigation" vocab="">

            </ul>
          </nav>
        </div>
        <div property="logo" typeof="ImageObject">
          <meta property="url" content="https://static.nd.edu/images/webclips/default/webclip-60.png">
        </div>
        <p class="copyright"><a href="https://www.nd.edu/copyright/">&copy; 2023</a> <a href="https://www.nd.edu">University of Notre Dame</a></p>
      </div>
      <div class="footer-parent" property="parentOrganization" typeof="CollegeOrUniversity" resource="#parentorg">
        <meta property="name" content="University of Notre Dame">
        <a href="https://www.nd.edu/" class="mark-footer" property="url logo" typeof="ImageObject" aria-label="University of Notre Dame">
          <img src="https://static.nd.edu/images/marks/gray/ndmark.svg" width="250" height="60" alt="University of Notre Dame" property="url">
        </a>
        <div class="footer-parent-links">
          <nav aria-label="Footer links navigation">
            <ul class="footer-links">
              <!-- Global Links -->
              <li><a href="https://search.nd.edu/" aria-label="Search Notre Dame">Search</a></li>
              <li><a href="https://mobile.nd.edu/" aria-label="Notre Dame Mobile App">Mobile App</a></li>
              <li><a href="https://news.nd.edu/" aria-label="Notre Dame News">News</a></li>
              <li><a href="https://events.nd.edu/" aria-label="Notre Dame Events">Events</a></li>
              <li><a href="https://www.nd.edu/visit/" aria-label="Visit Notre Dame">Visit</a></li>
              <li><a href="https://www.nd.edu/about/accessibility/" aria-label="Notre Dame Accessibility Information">Accessibility</a></li>
            </ul>
          </nav>
          <nav class="social" aria-label="Notre Dame social media navigation" vocab="">
            
          </nav>
        </div>
      </div>
    </footer>
  </div><!-- .wrapper -->
  <script src="https://conductor.nd.edu/javascripts/themes/ndt/3.0/ndt.js"></script>
  <script src="./javascripts/site.js"></script>
</body>
</html>